code[class*="language-"],
pre[class*="language-"] {
	color: #a9b7c6;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    color: inherit;
	background: #6b7678;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    color: inherit;
	background: #6b7678;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	padding-top: 4em;
	margin: 6em 0;
	position: relative;
}
code[class*="language-"] {
	padding-bottom: 2em;
}
code[class*="language-"]::before {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5em 1em;
	background: #272e31;
	font-weight: 700;
}
code.language-elm::before {
	content: "Elm";
	color: #ffb270;
}
code.language-js::before {
	content: "JavaScript";
	color: #ffed72;
}
code.language-python::before {
	content: "Python";
	color: #a2e57b;
}
code.language-bash::before {
	content: "Bash";
	color: #ff6d7e;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #3a4449;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}


.token.comment,
.token.prolog,
.token.cdata {
	color: #6b7678;
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
	color: #7cd5f1;
}

.token.operator,
.token.punctuation,
.token.attr-name {
	color: #ff6d7e;
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
	color: #ffed72;
}

.token.entity,
.token.number,
.token.symbol {
	color: #7cd5f1;
}

.token.property,
.token.constant,
.token.variable {
	color: #baa0f8;
}
.token.hvariable {
	color: #e5edf5;
}

.token.string,
.token.char {
	color: #ffed72;
}

.token.attr-value,
.token.attr-value .punctuation {
	color: #a2e57b;
}
.token.attr-value .punctuation:first-child {
	color: #6b7678;
}

.token.url {
	color: #7cd5f1;
	text-decoration: underline;
}

.token.function {
	color: #a2e57b;
}

.token.regex {
	color: #3a4449;
}

.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.inserted {
	color: #3a4449;
}

.token.deleted {
	color: #3a4449;
}

/*code.language-css .token.punctuation {
	color: #cc7832;
}*/
.some-colors {
	content: "some string";
	color: #3a4449;
	color: #6b7678;
	color: #ff6d7e;
	color: #a2e57b;
	color: #ffed72;
	color: #ffb270;
	color: #baa0f8;
	color: #7cd5f1;
	color: #f2fffc;
}


code.language-css .token.property,
code.language-css .token.property + .token.punctuation {
	color: #6b7678;
}

code.language-css .token.id {
	color: #ffb270;
}

code.language-css .token.selector > .token.class,
code.language-css .token.selector > .token.attribute,
code.language-css .token.selector > .token.pseudo-class,
code.language-css .token.selector > .token.pseudo-element {
	color: #ffb270;
}