---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title | safe }}</h1>

{{ content | safe }}

{% if previous %}
<a class="nav nav-prev" href="{{ previous | url }}">
<svg id="i-chevron-left" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
    <path d="M20 30 L8 16 20 2" />
</svg>
</a>
{% endif %}
{% if next %}
<a class="nav nav-next {% if not previous %}correction{% endif %}" href="{{ next | url }}">
<svg id="i-chevron-right" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
    <path d="M12 30 L24 16 12 2" />
</svg>
</a>
{% endif %}
